/*notice alarm*/
.alarm-badge__nav {
    position: absolute;
    top: -10px;
    right: -10px;
}
.alarm-badge__nav:hover {
    animation: notifyAni 0.82s ease-in-out infinite;
}
.alarm-badge {
    width: 20px;
    height: 20px;
    background: tomato;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
