@keyframes hideSplash {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes notifyAni {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
      
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes slideInUp {
    from {
        transform: translateY(70px);
    }
    to {
        transform: none;
    }
}
@keyframes slideInUpOpacity {
    from {
        transform: translateY(70px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes rotate360 {
    from {
        transform: none;
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes heartBeat {
    0% {
        color: white;
    }
    50% {
        color: tomato;
    
    }
    100% {
        color: white;
    }
    
}

@keyframes fadeIn {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}