@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;700&display=swap');
@import "reset.css";
@import "variables.css";

/*components*/
@import "component/no-mobile.css";
@import "component/header.css";
@import "component/nav.css";
@import "component/user-component.css";
@import "component/alarm-badge.css";

/*elements*/
@import "element/status-bar.css";
@import "element/welcome-header.css";
@import "element/login-form.css";
@import "element/friends.css";
@import "element/search.css";
@import "element/other.css";


body {
    width: 100%;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 30px;
}
h3 {
    font-weight: 500;
    font-size: 20px;
}
h4 {
    font-weight: 500;
    font-size: 16px;
}
h5 {
    font-weight: 200;
    font-size: 12px;
}
h6 {
    font-weight: 200;
    font-size: 15px;
}

.main-screen {
    padding: 0px var(--horizontal-space);
}