#animal-display-link {
    text-align: center;
    display: block;
    text-decoration: none;
    color: black;
    background: var(--lightgray);
    padding: 10px 0px;
    font-size: 14px;
}

#animal-display-link i {
    color: var(--spacegray);
}

#animal-display-link span {
    margin: 0px 3px;
}


.friends-main {
    padding: 15px var(--horizontal-space);
}
.friends-main__channel {
    margin-top: 15px;
    border-top: 1px solid var(--lightgray);
}
.channel-header {
    margin: 10px 0px 15px 0px;
    display: flex;
    justify-content: space-between;
    color: var(--spacegray);
}