.status-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.status-bar__column {
    display: flex;
    align-items: center;
}
.status-bar__column:last-child span {
    margin: 0px 8px;
}